<ion-view title="Dashboard">
  <ion-content class="padding">
    <h3>Local notifications demo</h3>
    <button ng-click="scheduleNotifications()" class="button button-full button-positive">
  		Schedule notifications for test
	</button>
	<button ng-click="cancelAllNotifications()" class="button button-full button-positive">
  		Cancell all notifications
	</button>
	<button ng-click="printNotifications()" class="button button-full button-positive">
  		Print notifications to Xcode console
	</button>
  </ion-content>
</ion-view>
