<ion-view title="Native iOS Notifications">
  <ion-content class="padding">
    <h4>Local notifications demo</h4>
    <button ng-click="scheduleNotifications()" class="button button-full button-positive">
  		Schedule notifications for test
	</button>
    <button ng-click="printNotifications()" class="button button-full button-positive">
        Print notifications to Xcode console
    </button>
	<button ng-click="cancelAllNotifications()" class="button button-full button-positive">
  		Cancell all notifications
	</button>
  </ion-content>
</ion-view>
