<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="HTML content" icon="icon ion-home" href="#/tab/htmlContent">
    <ion-nav-view name="tab-htmlContent"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Html5 Charts" icon="icon ion-aperture" href="#/tab/charts">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="iOS Notifications" icon="icon ion-alert-circled" href="#/tab/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

</ion-tabs>
